:root {
    --primary-color: #155e75;
    --secondary-color: #06b6d4;
    --bg-color: white;
    --on-hover: #06b6d4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 3em;
    background-color: #031f28;
    text-decoration: none;


}

.topSpace{
    height: 3em;
}

#title {
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 30px;
    font-size: 1.5em;
}

header nav {
    margin-left: auto;
}

.aHeader:hover {
    color: var(--on-hover);    
    transition-duration: 300ms;
}

.aHeader {
    padding-right: 30px;
    text-decoration: none;
    color: var(--primary-color);
    transition-duration: 300ms;
}


main {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;

}

#inputMain {
    width: 80%;
    margin: auto;
}